body {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 56px;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
}

.titleName {
    margin-left: -20px;
}

aside {
    position: sticky;
    top: 20px;
    /* Üst boşluk bırak, navbar ile çakışmayı önler */
    height: fit-content;
    /* İçeriğe göre boyutlandır */
}

.btn-outline-custom {
    color: white;
    background-color: #42999b;
}

.btn-outline-custom:hover {
    background-color: #2b7a7c;
    color: white;
}

.alertify-notifier .ajs-message.ajs-error {
    background-color: #42999b;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/*features of canvas*/
.canvas-container {
    position: relative;
    display: inline-block;
}

canvas {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: fit-content;
    max-height: 340px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: filter 0.3s ease-in-out;
}

.hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.hover-icon a {
    color: #42999b !important;
    text-decoration: none;
}

.canvas-container:hover canvas {
    filter: blur(5px);
}

.canvas-container:hover .hover-icon {
    opacity: 1;
    visibility: visible;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

#profileDropdown {
    background: transparent !important;
    /* Arka planı kaldır */
    border: none !important;
    /* Kenarlığı kaldır */
    padding: 0;
    /* Fazladan boşlukları kaldır */
    box-shadow: none;
    /* Gölge efektini kaldır */
}

#profileDropdown:focus {
    outline: none;
    /* Butona tıklanınca mavi çerçeve çıkmasını engeller */
}

.logout-icon {
    font-size: 1.1rem;
}

.dropdown-item:active,
.dropdown-item:focus {
    background-color: #e9ecef !important;
    /* Arka planı tamamen kaldır */
    color: inherit !important;
    /* Varsayılan rengi koru */
}

.dropdown-menu {
    width: auto;
    /* Otomatik genişlik */
    min-width: 180px;
    /* Minimum genişlik */
    white-space: nowrap;
    /* Metni tek satırda tut */
}