body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.left-banner {
    height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;

}

.left-banner img {
    max-width: 80%;
    height: auto;
}

.sloganphoto {
    width: 115% !important;
    /* Görseli biraz büyüt */
    height: 100vh !important;
    object-fit: fill;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

.btn-mail {
    background-color: #42999b;
    color: white;
    font-weight: bold;
}

.btn-mail:hover {
    background-color: #2b7a7c;
    color: white;
}

.btnBack {
    text-decoration: none;
    color: #42999b;
}

.btnBack:hover {
    text-decoration: underline;
}