body {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Logo ve yazı arasındaki boşluk */
    height: 56px;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.titleName {
    margin-left: -20px;
}

.btn-outline-custom {
    background-color: white;
    color: #42999b;
    border: 2px solid white;
    font-weight: bold;
}

.btn-outline-custom:hover {
    background-color: #e6e6e6;
    color: #2b7a7c;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

#profileDropdown {
    background: transparent !important;
    border: none !important;
    padding: 0;
    box-shadow: none;
}

#profileDropdown:focus {
    outline: none;
}

.logout-icon {
    font-size: 1.1rem;
}

.dropdown-item:active,
.dropdown-item:focus {
    background-color: #e9ecef !important;
    color: inherit !important;
}

.dropdown-menu {
    width: auto;
    min-width: 180px;
    white-space: nowrap;
}


.alertify-notifier .ajs-message.ajs-success {
    background-color: #42999b;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.alertify-notifier .ajs-message.ajs-error {
    background-color: #42999b !important;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.alertify-notifier .ajs-message {
    background-color: #42999b !important;
    color: white;
    font-size: 16px;
    padding: 14px 20px;
    text-align: center;
}

.custom-card {
    background-color: #42999b !important;
    color: white;
}

.custom-card .form-label {
    color: white;
}